	 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
 <style>
 	.ui-datepicker td {
	font-size: 1.2em;
}
 </style>
	
	<div class="section" style="width: 95.7%">
	<h2 style="width:70%">Plan Avistamiento de Ballenas: 4 días 3 noches</h2>
	<br><br>
	<img src="/assets/planes/portada1.jpg" style="width:100%; border:1px solid #CCC;"/>
	<p>Disfruta este año el majestuoso espectáculo que nos ofrecen las ballenas Yubarta en su llegaga al Pacífico colombiano en busca aguas cálidas durante su  temporada de reproducción.
	</p>
	<div style="clear: both"></div>
	<div class="one">
	<p><span style="color:#c40100">INVERSIÓN:</span> por solo $980.000 (NOVECIENTOS OCHENTA MIL PESOS) por persona (Cuatro días, Tres noches); harás el regalo más fabuloso para ti y los tuyos. Los niños entre 5 y 10 años solo pagaran $680.000 (SEISCIENTOS OCHENTA MIL PESOS). </p>
	<p><span style="color:#c40100">FECHA:</span> entre el 15 de julio y 10 de octubre de 2016.</p>
	</div>
	<div class="one-half">
		<div class="panel">
			<p><span style="color:#c40100">EL PLAN INCLUYE:</span></p>
			<ul>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Tiquetes aéreos Medellín - Bahía Solano - Medellín o Quibdó - Bahía Solano - Quibdó incluyendo tasas aeroportuarias.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Alojamiento en habitación Estándar, Doble o Triple con baño privado, Tv Pantalla plana, Ventilador, Wi-Fi, escritorio</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Alimentación: Desayuno, almuerzo y cena.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Traslado aeropuerto-hotel-aeropuerto en Bahía Solano.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Dos fantásticos Tours a las playas más exóticas del Pacífico.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Avistamiento de Ballenas (2 horas).</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Guía turístico.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">IVA y Seguro Hotelero.</li>
			</ul>
		</div>
	</div>
	<div class="one-half">
		<div class="panel" style="min-height: 140px;">
			<p><span style="color:#c40100">PLAN NO INCLUYE:</span></p>
		
			<ul>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Gastos no especificados en el plan.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Consumos en el hotel.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Gastos ocasionados por cancelación de vuelos.</li>
			</ul>
		</div>
		<br>
		<div class="panel" style="min-height: 225px;">
			<p><span style="color:#c40100">SERVICIOS OPCIONALES:</span></p>
			<ul>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Habitación Suit Deluxe con tina de hidromasajes y balcón tendrá un costo adicional de $150.000 pesos.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Habitación Superior, es decir, con aire Acondicionado el paquete tendrá un costo adicional de $100.000 pesos.</li>
				<!--li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Gastos ocasionados por cancelación de vuelos.</li-->
			</ul>
		</div>
	</div>
	<div style="clear: both"></div>
		<br>
		<p><span style="color:#c40100">T&Eacute;RMINOS Y CONDICIONES</span></p>
		<ul>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Anticipo por persona al reservar $ 200.000 no reembolsable y pago total 8 días antes de la fecha de viaje.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El desayuno está disponible para los huéspedes hasta las 9:00 am.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Hasta 2 niños menores de 4 años se pueden alojar gratis, con sus padres o tutores. Desayuno no incluido para menores de 4 años.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Los niños de 4 hasta 10 años pagarán la tarifa estipulada para este rango de edad.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El Hotel Carolina del Mar es un establecimiento libre de humo de cigarrillo o de tabaco, fumar en las habitaciones o 
				áreas públicas no está permitido, existen penalidades en caso de incumplir con esta norma.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Los cargos adicionales deben pagarse durante la estancia.</li>
			
		</ul>
		<p>Consulte la información detallada del plan <a href="/assets/documentos/avistamiento.pdf" target="_blank"> Aquí>></a></p>
		<br>
	 	<div class="subsection" style="margin: 0 auto; width:70%">
	 		<h1 style="width:60%; margin-top: -5px">Solicitud de Información</h1>
	 		<br><br>
	 		<div class="form">
			<%= form_tag("/entidad/enviar_solicitud_contacto", method: :post, id:"frmReservar") do %>
				<%= label_tag :Nombre, "Nombres y Apellidos*" %><br>
				<%= text_field_tag :Nombre, nil, options= {size:40, maxlength:40, required: :required} %><br>
				<%= label_tag :Nombre, "Teléfono móvil o fijo*" %><br>
				<%= text_field_tag :Telefono, nil, options= {size:40, maxlength:15, required: :required} %><br>
				<%= label_tag :Nombre, "Correo electrónico*" %><br>
				<%= email_field :Correo, nil, options= {size:40, maxlength:30, required: :required} %><br>
				<%= label_tag :fechaViaje, "Fecha de viaje*" %><br>
				<%= text_field_tag :fechaViaje, nil, options= {size:40, maxlength:15, required: :required} %><br>
				<%= hidden_field_tag :TipoMensaje, "Solicitud de Información" %>
				<%= hidden_field_tag :Mensaje, "Plan Avistamiento de Ballenas" %>
				<div style="clear: both; height:5px;"></div>
				&nbsp;<label>Adultos</label> <%= select_tag "Adultos", options_for_select( (1..10).step(1).map{|n| n%1 == 0 ? n.to_i : n} ), title:"12 años o más" %>
				&nbsp;&nbsp;&nbsp;<label>Niños</label> <%= select_tag "Ninos", options_for_select( (0..5).step(1).map{|n| n%1 == 0 ? n.to_i : n} ), title:"2 a 11 años"%>
				<br><br>
				
				<p style="text-align: center"><input type="button"  id="cmdRegresar" class="submit" value="<< Regresar"> | <%= button_tag :Enviar, id: "cmdEnviar", class: "submit" %></p>			
			<% end %>
			</div>				
		</div>
	</div>
	
	<script>
		jQuery("#cmdEnviar").click(function(e){
			e.preventDefault();
			mensaje = jQuery("#Mensaje").val() + ", Adultos: " + jQuery("#Adultos option:selected").val() + ", Niños: " + jQuery("#Ninos option:selected").val();
			mensaje = mensaje + " Fecha de viaje: " + jQuery( "#fechaViaje" ).val();
			jQuery("#Mensaje").val(mensaje);
			jQuery("#frmReservar").submit();
		});
		
		jQuery("#cmdRegresar").click(function(){
			jQuery(location).attr('href', '/entidad/index');
		});
		
  		jQuery(function() {
  			varMonthNames = ['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE'];
  			varDayNamesShort = ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'];
  			varDayNamesMin = ['Do','Lu','Ma','Mi','Ju','Vi','Sá'];
  	
    	jQuery( "#fechaViaje" ).datepicker({
    			minDate:+0,
    			maxDate:"+1Y",
    			dateFormat:"dd/mm/yy",
    	 		monthNames: varMonthNames, 
    	 		dayNamesShort: varDayNamesShort,
    	 		dayNamesMin: varDayNamesMin,
      			numberOfMonths: 3,
      			showButtonPanel: true
    	});
  });
	</script>
	
	<p>&nbsp;</p>
<div style="clear:both"></div>